HiCmaps/
DataAggregation/PairDistanceDistribution/distance_distribution.tsv
InsulationScores/
*.png
*.csv
*.tsv
*.Rhistory
*.RData
*.ods
*.out

!DataAggregation/PairDistanceDistribution/subsetHiC_summary.tsv
!Metadata/RNAseq_ENCODE_metadata.tsv
!Metadata/Rna_seq_metadata.csv
